<div id="app-content-wrapper-header">
  <div id="app-content-title">
    <span class="title">Users</span>
  </div>
  <div class="combined-input margin-right-10">
    <i class="fa fa-search"></i>
    <input type="text" name="" id="" placeholder="sdaasdsadsadsad">
    <i class="fa fa-spin fa-spinner"></i>
    <i class="fa fa-times clickable" title="Очистить поиск"></i>
  </div>
  <i class="fa fa-gears control"></i>
  <i class="fa fa-plus control"></i>
  <i class="fa fa-star control"></i>
  <i class="fa fa-calendar control"></i>
</div>
<div id="app-content-wrapper-content">
  <router-outlet></router-outlet>
</div>
