<div id="app-menu">
  <div id="app-menu-current-user">
    <div class="photo"></div>
    <div class="name">Kozlodoy Ivashkin</div>
    <div class="position">Product manager</div>
  </div>
  <div id="app-menu-items">
    <a href="" class="menu-item" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fa fa-home"></i>
      Dashboard
    </a>
    <a href="" class="menu-item">
      <i class="fa fa-star"></i>
      Sessions
    </a>
    <a class="menu-item" routerLink="/users" routerLinkActive="active">
      <i class="fa fa-user"></i>
      Пользователи
    </a>
    <a class="menu-item" routerLink="/phonebook" routerLinkActive="active">
      <i class="fa fa-phone-square"></i>
      Телефонный справочник
    </a>
  </div>
</div>

<div id="app-content-wrapper">
  <router-outlet></router-outlet>
</div>
