#app-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 250px;
  background: #455A64;
}
#app-menu #app-menu-current-user {
  padding-top: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
#app-menu #app-menu-current-user .photo {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background: lightgray;
  border-radius: 50%;
}
#app-menu #app-menu-current-user .name {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: white;
}
#app-menu #app-menu-current-user .position {
  font-size: 14px;
  text-align: center;
  color: #BDBDBD;
}
#app-menu #app-menu-items .menu-item {
  display: block;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  line-height: 40px;
  border-left: 4px solid transparent;
}
#app-menu #app-menu-items .menu-item .fa {
  margin-right: 10px;
}
#app-menu #app-menu-items .menu-item.active {
  background: #37474F;
  border-left-color: #FFC107;
}
#app-menu #app-menu-items .menu-item.active:hover {
  background: #37474F;
}
#app-menu #app-menu-items .menu-item:hover {
  background: #546E7A;
}
#app-content-wrapper {
  position: absolute;
  left: 250px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #F3F3F8;
}
#app-content-wrapper #app-content-wrapper-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: #ECEFF1;
  border-bottom: 1px solid #CFD8DC;
}
#app-content-wrapper #app-content-wrapper-header #app-content-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}
#app-content-wrapper #app-content-wrapper-header #app-content-title .title {
  height: 40px;
  font-family: 'Roboto Bold';
  font-size: 20px;
  line-height: 40px;
  color: #607D8B;
}
#app-content-wrapper #app-content-wrapper-header #app-content-title .title.secondary {
  color: #B0BEC5;
}
#app-content-wrapper #app-content-wrapper-header .separator {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-left: 20px;
  border-left: 1px solid #CFD8DC;
}
#app-content-wrapper #app-content-wrapper-header .control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  font-size: 18px;
  text-align: center;
  color: #78909C;
  border-radius: 4px;
  cursor: pointer;
}
#app-content-wrapper #app-content-wrapper-header .control:last-of-type {
  margin-right: 0px;
}
#app-content-wrapper #app-content-wrapper-header .control:hover {
  color: #546E7A;
}
#app-content-wrapper #app-content-wrapper-content {
  overflow: auto;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.content-data {
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 300px;
  bottom: 0px;
  box-sizing: border-box;
}
.content-sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px;
  box-sizing: border-box;
  background: #E8EAF6;
}
.form-part-title {
  padding-bottom: 7px;
  font-family: "Roboto Bold";
  font-size: 16px;
  text-transform: uppercase;
  color: #B0BEC5;
  border-bottom: 1px dotted #B0BEC5;
}
