/***
* Fonts
***/
@font-face {
  font-family: "Roboto Regular";
  src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("assets/fonts/Roboto-Italic.ttf");
}
/**
* Basic
**/
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Roboto Regular";
}
/**
* Grid
**/
.row {
  overflow: auto;
  display: block;
  box-sizing: border-box;
}
.width-5 {
  float: left;
  width: 5%;
  box-sizing: border-box;
}
.width-10 {
  float: left;
  width: 10%;
  box-sizing: border-box;
}
.width-50 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.width-100 {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
/**
* Aligns
**/
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/**
* Margins
**/
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
/**
* Padding
**/
.padding-5 {
  padding: 5px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
/**
* Input fields
**/
label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
  color: #78909C;
}
input[type="text"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
  color: #607D8B;
  background: white;
  border: 0px solid;
  border-radius: 4px;
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}
input[type="text"]::-webkit-input-placeholder {
  color: #CFD8DC;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"]::-moz-placeholder {
  color: #CFD8DC;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"]:-moz-placeholder {
  color: #CFD8DC;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"]:-ms-input-placeholder {
  color: #CFD8DC;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"][disabled] {
  background: #F5F5F5;
}
input[type="text"].big {
  height: 45px;
}
input[type="text"].small {
  height: 30px;
  font-size: 15px;
}
input[type="text"].dark {
  background: #CFD8DC;
  color: #607D8B;
  /* Firefox 19+ */
  /* Firefox 18- */
}
input[type="text"].dark::-webkit-input-placeholder {
  color: #90A4AE;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"].dark::-moz-placeholder {
  color: #90A4AE;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"].dark:-moz-placeholder {
  color: #90A4AE;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"].dark:-ms-input-placeholder {
  color: #90A4AE;
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="text"].with-border {
  border: 1px solid #CFD8DC;
}
input[type="text"].with-shadow {
  box-shadow: -0.5px 0px 9px -0.5px rgba(0, 0, 0, 0.1);
}
.combined-input {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
}
.combined-input.with-border {
  border: 1px solid #CFD8DC;
}
.combined-input input {
  display: flex;
}
.combined-input input:not(:first-child) {
  padding-left: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.combined-input input:not(:last-child) {
  padding-right: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.combined-input input:first-child {
  margin-left: -10px;
}
.combined-input .fa {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  flex: auto;
  align-items: center;
  width: 30px;
  font-size: 17px;
  color: #B0BEC5;
}
.combined-input .fa:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.combined-input .fa:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px;
}
.combined-input .fa.clickable {
  cursor: pointer;
}
.combined-input .fa.clickable:hover {
  color: #455A64;
}
.combined-input button:last-child {
  margin-right: -10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.form-error {
  display: inline-block;
  font-size: 13px;
  color: #e57373;
}
/**
* Buttons
**/
button,
input[type='button'],
input[type='submit'] {
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background: #78909C;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  background: #546E7A;
}
button.big,
input[type='button'].big,
input[type='submit'].big {
  height: 45px;
}
button[disabled],
input[type='button'][disabled],
input[type='submit'][disabled] {
  background: #B0BEC5;
  cursor: default;
}
button.green,
input[type='button'].green,
input[type='submit'].green {
  background: #4CAF50;
}
button.green:hover,
input[type='button'].green:hover,
input[type='submit'].green:hover {
  background: #388E3C;
}
button.green[disabled],
input[type='button'].green[disabled],
input[type='submit'].green[disabled] {
  background: #A5D6A7;
}
button.red,
input[type='button'].red,
input[type='submit'].red {
  background: #f44336;
}
button.red:hover,
input[type='button'].red:hover,
input[type='submit'].red:hover {
  background: #d32f2f;
}
button.red[disabled],
input[type='button'].red[disabled],
input[type='submit'].red[disabled] {
  background: #e57373;
}
button .fa,
input[type='button'] .fa,
input[type='submit'] .fa {
  color: white !important;
}
